.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 767px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1199px) {
  .container {
    width: 1200px;
  }
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.filters-list-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
}

.filters-list-btn:hover {
  background-color: var(--accent-color);
  color: main-white-color;
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
}
.footer-logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 145px;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    margin: 0;
    margin-bottom: 20px;
  }
}
.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-list-link {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-content-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer-social-title {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-list-link:hover {
  color: #2196F3;
}
.footer-list-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
}
.footer-list-icon {
  fill: currentColor;
}
.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
}
.footer-social-link:hover {
  background-color: #2196F3;
}

.address {
  margin-top: 20px;
}

.location-link {
  color: main-white-color;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foter-list-icon {
  fill: currentColor;
}

.addmail-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .addmail-form {
    gap: 12px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.addmail-input {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 480px) {
  .addmail-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .addmail-input {
    width: 358px;
  }
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .help {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .help {
    gap: 70px;
  }
}

.header {
  top: 0;
}
.header-logo {
  color: #000000;
}
.header-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
@media screen and (min-width: 768px) {
  .header-content-wrap {
    gap: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header-content-wrap {
    gap: 93px;
  }
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.contacts-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}
.contacts-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2F303A;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (min-width: 768px) {
  .contacts-list__link {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__link {
    font-size: 14px;
  }
}
.contacts-list__link:hover {
  color: #2196F3;
}

.nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: block;
  }
}
.nav-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list-link-current::after {
  position: absolute;
  content: "";
  border-radius: 2px;
  height: 4px;
  background-color: rgb(33, 150, 243);
  width: 100%;
  top: 45px;
  left: 0;
}
.nav-list-link {
  position: relative;
}

.nav-list-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.addmail-text {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.addmail-input {
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  min-width: 358px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 16px;
}
.addmail-form {
  gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.addmail-btn {
  background-color: rgb(33, 150, 243);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.addmail .addmai-wrap-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.addmail-svg {
  fill: #FFFFFF;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .clients {
    padding: 94px 0;
  }
}
.clients-title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.clients-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.clients-list-item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list-item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.clients-list-link {
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(175, 177, 184);
}
.clients-list-icon {
  fill: currentColor;
}
.clients-list-link:hover {
  color: #2196F3;
  border-color: rgb(33, 150, 243);
}

.features {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0;
  }
}
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.features-list-desc {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features-list-desc {
    max-width: 354px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features-list-desc {
    max-width: 270px;
  }
}
.features-list-title {
  margin-top: 30px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-list-title {
    text-align: start;
  }
}

.antena::before {
  background-image: url("../antena.png");
  content: "";
  width: 270px;
  height: 120px;
  display: inline-block;
}

.clock::before {
  background-image: url("../clock.png");
  content: "";
  width: 270px;
  height: 120px;
  display: inline-block;
}

.desk::before {
  background-image: url("../desk.png");
  content: "";
  width: 270px;
  height: 120px;
  display: inline-block;
}

.astro::before {
  background-image: url("../astro.png");
  content: "";
  width: 270px;
  height: 120px;
  display: inline-block;
}

.section-hero {
  background-color: #2F303A;
  padding: 118px 0;
  background-image: url("../images/Img (12).png");
}
@media screen and (min-width: 1199px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.section-hero-title {
  color: #FFFFFF;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  font-size: 26px;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-hero-title {
    font-size: 44px;
    max-width: 696px;
  }
}
.section-hero-btn {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196F3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list-title {
  color: black;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.portfolio-list-text {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-list-item-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-transform-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 23px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 1s;
  transition: 1s;
}
.portfolio-link:hover .portfolio-transform-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filters-list-btn:hover {
  background-color: #2196F3;
  color: white;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  margin-top: 28px;
}
.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: rgb(175, 177, 184);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-list-icon {
  fill: currentColor;
}
.social-list-link:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}

.contacts-list-icon {
  fill: currentColor;
}

.team-list-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.team-list-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var #757575;
}

.section-team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  padding: 60px 0;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .team-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.team-list-list-kontent-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team-list-list-item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 768px) {
  .team-list-list-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list-list-item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
    display: block;
  }
}
.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.work-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}
.work-list-text {
  position: absolute;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  text-transform: uppercase;
}
.work-list-wrap {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 528px;
  padding: 40px;
  background-color: rgb(255, 255, 255);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(33, 33, 33);
  margin-bottom: 12px;
}

.modal-form {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.modal-input-wrap {
  max-width: 448px;
}

.input-name {
  height: 40px;
  width: 100%;
  padding-top: 30px;
  border-radius: 4px;
  padding-left: 42px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
}

.input-phone {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  padding-left: 42px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
}

.input-mail {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  padding-left: 42px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 10px;
}

.textarea-comment {
  resize: none;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-bottom: 20px;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgb(33, 150, 243);
  width: 200px;
  height: 50px;
  color: rgb(255, 255, 255);
}

.icons-span {
  position: relative;
}

.icons-svg {
  position: absolute;
  bottom: 2px;
  left: 10px;
}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
}

.label-wrap {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */