$main-color:#212121;
$second-color-text: #757575;
$accent-color:#2196F3;
$header-logo-color:#000000;
$main-white-color:#FFFFFF;
$adres-contact-link:#FFFFFF99;
$team-bgcolor:#F5F4FA;
$footer-bgcolor:#2F303A;
$gray-color:#2F303A;
$blue-color:#2196F3;