.clients{
    padding:60px 0;
    @include tab(768px) {
        padding: 94px 0;
    }
&-title{
    color: #212121;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        margin-bottom: 30px;

        @include desc(1200px) {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }
    &-list{
        
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    &-list-item{
        @include gridSystem(30px, 2);

        @include tab(768px) {
            @include gridSystem(60px, 3);
        }

        @include desc(1200px) {
            @include gridSystem(150px, 6);
        }
    }
    &-list-link{
        height: 92px;
        border:1px solid rgba(175, 177, 184, 1);
        border-radius:4px ;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(175, 177, 184, 1);
    }
    &-list-icon{
        fill: currentColor;
    }
    &-list-link:hover{
        color: #2196F3;
        border-color: rgba(33, 150, 243, 1);
    }
}