.header{
    top: 0;
    &-logo{
        color: $header-logo-color;
    }
    &-content-wrap{
        display: flex;
        align-items: center;
        height: 80px;
        @include tab(768px) {
            gap: 87px;
        }

        @include tab(1200px) {
            gap: 93px;
        }
    }
    
}
.logo{
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
color: $accent-color;}
.contacts-list{
    display: none;
    @include tab(768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: auto;
    }

    @include desc(1200px) {
        flex-direction: row;
        gap: 50px;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: left;
        color: $gray-color;
        transition: 0.2s;
        @include tab(768px) {
            font-size: 12px;
        }

        @include desc(1200px) {
            font-size: 14px;
        }

        &:hover {
            color: $blue-color;
        }
    
    }
}
    .nav-list{
        display: none;
    @include tab(768px) {
        display: block;
    }
    
    &-item{
        padding-top: 32px;
        padding-bottom: 32px;
    }
    &-link-current::after{
        position: absolute;
        content:"";
        border-radius: 2px;
        height: 4px;
        background-color: rgba(33, 150, 243, 1);
        width: 100%;
        top:45px ;
        left: 0;
        }
        &-link{
            position: relative;
        }
    }