.section-hero{
    background-color: #2F303A;
    padding: 118px 0;
    background-image: url("../images/Img\ \(12\).png");
    @include desc(1199px){
        padding-top: 200px;
    padding-bottom: 200px;
    }
&-title{
    @include desc(1199px)
    {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    color: $main-white-color;
    max-width: 696px;
    margin: 0 auto;
    }}
    &-btn{
        width: 216px;
    height: 50px;
    border-radius: 4px;
    background-color: $accent-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    text-align: center;
    color: $main-white-color;
    display: block;
    margin: auto;
    margin-top: 30px;
    }
}