.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;

&-list-title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em; 
}
&-list-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
}

&-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
&-list-item{
    outline:1px solid rgba(238, 238, 238, 1);
 }
 &-list-wrap{
    padding-top:20px ;
    padding-bottom:20px ;
    padding-left: 24px;
    padding-right: 24px;
 }
 &-list-item-wrap{
    position: relative;
    overflow: hidden;
    }
    &-transform-text{
        position: absolute;
        top: 0;
        left: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.03em;
    color:rgba(255, 255, 255, 1);
    background-color:rgba(33, 150, 243, 0.9) ;
     padding-top: 63px;
     padding-left: 24px;
     padding-bottom: 63px;
     padding-right: 23px;
     transform:(100%);
     transition: 1s;
    }
    &-link:hover .portfolio-transform-text{
        transform: translateY(0);
        
        }
    }
        .filters-list{
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-bottom: 50px;
        }