.work{
    padding-bottom: 94px;

&-list{
    display: flex;
    gap: 30px;
}
&-title{
    margin-bottom: 50px;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.03em;
text-align: center;
}
&-list-text{
    position: absolute;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
color: rgba(255, 255, 255, 1);
bottom: 0;
background-color: rgba(47, 48, 58, 0.8);
align-items: center;
justify-content: center;
display: flex;
height: 70px;
width: 100%;
text-transform:uppercase;
 }
 &-list-wrap{
    position: relative;
     }
    }