.container{
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
 }

 @media screen and (min-width: 480px){
	.container{
		width: 480px;
	}
 }

 @media screen and (min-width: 767px){
   .container{
		width: 768px;
	 }
 }

 
 @media screen and (min-width: 1199px){
   .container{
		width: 1200px;
	 }
 }
