.backdrop{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 528px;

    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal-text{
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(33, 33, 33, 1);
    margin-bottom: 12px;
    }
    .modal-form{
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 1);
        }
        .modal-input-wrap{
            max-width: 448px;
        }
        .input-name{
            height: 40px;
            width: 100%;
            padding-top: 30px;
            border-radius: 4px;
            padding-left: 42px;
            border: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            margin-bottom: 10px;
            
        }
        .input-phone{
            height: 40px;
            width: 100%;
            border-radius: 4px;
            padding-left: 42px;
            border: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            margin-bottom: 10px;
        }
        .input-mail{
            height: 40px;
            width: 100%;
            border-radius: 4px;
            padding-left: 42px;
            border: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            margin-bottom: 10px;
        }
        .textarea-comment{
            resize: none;
            height: 120px;
            width: 100% ;
            border-radius: 4px;
            border: none;
            border: 1px solid rgba(33, 33, 33, 0.2);
            margin-bottom: 20px;
        }
        .modal-form-btn{
            display: block;
            margin: 0 auto;
            border-radius:4px ;
            background-color: rgba(33, 150, 243, 1);
            width: 200px;
            height: 50px;
            color: rgba(255, 255, 255, 1);
            margin-top: 30px;
        }
        .icons-span{
            position: relative;
            }
            .modal-btn{
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(0, 0, 0, 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
            }
            .label-wrap{
                margin-bottom: 10px;
            }
            .icons-svg-one{
                position: absolute;
                bottom: 13px;
                left: 10px;
            }  
                .icons-svg-two{
                    position: absolute;
                    bottom: 1px;
                    left: 10px;
                }
                .icons-svg-three{
                    position: absolute;
                    bottom: 4px;
                    left: 10px;
                }
                .label-text{
                    margin-bottom: 4px;
                    display: block;
                }